.hoverItem{
    transition: all .5s;
}

.hoverItem:nth-child(1){
    width: 425px;
    height: 425px;
    grid-row: span 2;
    grid-column: span 2;
}
.hoverItem:nth-child(10){
   
    
}

.hoverItem:hover{
    background-color: gray;
    opacity: 40%;
    cursor: move;
    scale: 101%;
    
}